.header__container {
  background-color: purple;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.header__col-1 {
  width: 55%;
  background-color: salmon;
  // padding: 4rem 4rem 4rem 4rem;
  padding-left: 4rem;
  padding-top: 2rem;
  gap: 0.5rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  .header__name {
    // transform: rotate(-10deg) skew(-10deg, 0);
    font-family: "Kaushan Script", cursive;
  }
  .header__desc {
    font-family: "Signika", sans-serif;
    font-size: 4.5rem;
    flex-wrap: wrap;
    font-weight: bold;
    span {
      color: salmon;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
    }

    @media screen and (max-width: 1000px) {
      font-size: 3.5rem;
    }
    @media screen and (max-width: 450px) {
      font-size: 2.5rem;
    }
    @media screen and (min-width: 2000px) {
      font-size: 5.5rem;
    }
  }

  @media screen and (max-width: 700px) {
    width: 100%;
    padding: 2rem;
  }
}
.header__col-2 {
  background-color: cornflowerblue;
  width: 25%;
  display: flex;
  align-items: center;
  img {
    width: 600px;
    margin-left: -15rem;

    @media screen and (max-width: 850px) {
      width: 500px;
      margin-left: -10rem;
    }
    @media screen and (min-width: 2000px) {
      width: 800px;
      margin-left: -25rem;
    }
  }

  @media screen and (max-width: 700px) {
    display: none;
  }
}
.header__col-3 {
  background-color: seagreen;
  width: 20%;

  @media screen and (max-width: 700px) {
    display: none;
  }
}
