.app__footer {
  flex: 1;
  width: 100%;
  flex-direction: column;
}
.app__footer-cards {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 4rem 2rem 2rem;
  flex-wrap: wrap;

  .app__footer-card {
    min-width: 270px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 10px;
    background-color: #fef4f5;
    transition: all 0.3s ease-in-out;

    img {
      width: 40px;
      height: 40px;
      margin: 0 0.7rem;
    }
    p {
      font-weight: 600;
    }
    a {
      font-weight: 500;
      text-decoration: none;
      cursor: pointer;
    }

    @media screen and (max-width: 650px) {
      width: 100%;
    }
  }
  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.app__footer-form {
  width: 60%;
  flex-direction: column;
  margin: 1rem 2rem;
  div {
    width: 100%;
    border-radius: 10px;
    margin: 0.75rem 0;
    cursor: pointer;
    background-color: var(--white-color);
    transition: all 0.3s ease-in-out;
    input,
    textarea {
      width: 100%;
      padding: 0.95rem;
      border: none;
      background-color: var(--white-color);
      outline: none;
      resize: none;
      font-family: var(--font-base);
    }
    textarea {
      height: 150px;
    }
    &:hover {
      box-shadow: 0 0 20px var(--white-color);
    }
  }
  button {
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    background-color: var(--secondary-color);

    font-weight: 500;
    color: var(--white-color);
    outline: none;
    margin: 2rem 0 0 0;
    font-family: var(--font-base);

    transition: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    cursor: pointer;

    &:hover {
      background-color: #2430af;
    }
  }
  @media screen and (max-width: 768px) {
    width: 100%;
    margin: 1rem 0;
  }
}
