.app__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  position: fixed;
  z-index: 2;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.app__navbar-logo {
  font-family: "Kaushan Script", cursive;
  font-weight: bold;
  font-size: 1.5rem;
  span {
    font-size: 1rem;
  }
}
.app__navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  li {
    margin: 0 1rem;
    cursor: pointer;
    flex-direction: column;

    div {
      width: 5px;
      height: 5px;
      background-color: transparent;
      border-radius: 50%;
      margin-bottom: 5px;
    }
    a {
      text-decoration: none;
      text-transform: uppercase;
      flex-direction: column;
      color: var(--grey-color);
      font-weight: 500;
      transition: all 0.5s ease-in-out;

      &:hover {
        color: var(--secondary-color);
      }
    }

    &:hover {
      div {
        background-color: var(--secondary-color);
      }
    }
  }

  @media screen and (max-width: 900px) {
    display: none;
  }
}

.app__navbar-menu {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);

  svg {
    height: 70%;
    width: 70%;
    color: var(--white-color);
    cursor: pointer;
  }
  div {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    background: url("../../assets/bgWhite.png");
    background-color: var(--white-color);
    background-size: cover;
    background-repeat: repeat;
    box-shadow: 0 0 20px rgba(168, 168, 168, 0.15);
    svg {
      height: 35px;
      width: 35px;
      color: var(--secondary-color);
      margin: 0.5rem 1rem;
      cursor: pointer;
    }

    ul {
      margin: 0;
      padding: 0;
      height: 100%;
      width: 100%;
      list-style: none;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
    }
    li {
      margin: 1rem;

      a {
        text-decoration: none;
        text-transform: uppercase;
        color: var(--grey-color);
        font-size: 1rem;
        transition: all 0.5s ease-in-out;

        &:hover {
          color: var(--secondary-color);
        }
      }
    }
    @media screen and (min-width: 900px) {
      display: none;
    }
  }

  @media screen and (min-width: 900px) {
    display: none;
  }
}
