.app__about {
  flex: 1;
  width: 100%;
  flex-direction: column;
}

.app__profiles {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.app__profile-item {
  width: 210px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 2rem;
  img {
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 15px;
  }

  @media screen and (min-width: 2000px) {
    width: 370px;
    margin: 2rem 4rem;
    img {
      height: 320px;
    }
  }
}

.about__title {
  font-size: 1.1rem;
  font-weight: 800;
  color: var(--black-color);
  text-align: center;
  width: 100%;

  @media screen and (min-width: 2000px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 0.9rem;
  }
}
.about__details {
  width: 100%;
  text-align: center;
  font-family: "Lato";
  color: rgba($color: #404040, $alpha: 0.8);
  font-size: 0.9rem;

  @media screen and (max-width: 450px) {
    font-size: 0.7rem;
  }
}
